[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileLogPath=log
FileStorePath=store
UseLocalTime=Y
StartTime=00:00:00
EndTime=00:00:00

UseDataDictionary=Y
AppDataDictionary=config/FIX50SP2_rofx_2.0.52.xml
TransportDataDictionary=config/FIXT11.xml
DefaultApplVerID=FIX.5.0SP2

ValidateUserDefinedFields=N
ValidateFieldsHaveValues=N
ValidateFieldsOutOfOrder=N

ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
RefreshOnLogon=Y
CheckLatency=N
# TCP_NODELAY ON: disable Nagle so small FIX messages leave immediately.
# (The provided sample had N; for low latency you want Y.)
SocketNodelay=Y

LogoutTimeout=5
LogonTimeout=30

[SESSION]
BeginString=FIXT.1.1
SenderCompID=maildetestsbs22479
TargetCompID=ROFX
HeartBtInt=30

# Connect to local stunnel which wraps TLS to fix.remarkets.primary.com.ar:9876
SocketConnectHost=127.0.0.1
SocketConnectPort=8080

ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y
ScreenLogEvents=Y
